{% extends 'base.html' %}

{% block titulo %}
    Sobre Nosotros
{% endblock %}

{% block contenido %}

<div>
    <article>
        <div>
            <h2 style="color:white"><center>
                Este equipo esta conformado por dos integrantes: 
                    Santiago Mathieu, estudiante avanzado de abogacia, aficionado a la tecnologia y los videojuegos. 
                    Santiago Peralta, licenciado en Sociología, interesado por la tecnología, el mundo de los datos y los horizontes que abre la programación. 
                    En este proyecto intentamos llevar adelante un sitio de tipo blog de películas, series y juegos que invite a la comunidad a ser parte de modo participativo de las elecciones del contenido del sitio. Por eso habilitamos la posibilidad de que quienes ingresen puedan opinar al respecto del contenido cargado y que la comunidad sea la propia moderadora del sitio. 
Siguiendo con las posibilidades que brinda Python y el Framework de Django creamos el sitio de SantisFlix para toda la comunidad fanática de películas, series y videojuegos que son parte de su día a día.
            
            </center></h2>
        </div>
    </article>
</div>

{% endblock %}