{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block titulo %}
      {% endblock %}
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body style="background-image:url('http://cdn29.us1.fansshare.com/images/backgroundhd/wallpaper-hd-black-background-black-596845284.jpg');">
  <nav class="navbar navbar-expand-lg navbar " style="background: black;">
    <a class="navbar-brand" href="/" style="color: red;">SANTISFLIX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <h3><a class="nav-link" href="/peliculas/pelis/" style="color: white;">Peliculas</a></h3>
            </li>
            <li class="nav-item active">
                <h3><a class="nav-link" href="/peliculas/series" style="color: white;">Series <span class="sr-only">(current)</span></a></h3>
            </li>
            <li class="nav-item" style="margin-right: 20rem">
                <h3><a class="nav-link" href="/peliculas/games" style="color: white;">Games</a></h3>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <h2 style="color: white">{{request.user.username}}</h2> 
                </li>

                <li class="nav-item" style="width: 20rem;">
                    <a class="nav-link" href="/user/detail_user_profile/{{request.user.user_profile.pk}}/">
                      <img src="{{request.user.user_profile.profile_image.url}}" style="height: 2.5rem; border-radius: 50%; width: 2.5rem;">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout/" style="color: white;">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login/" style="color: white;" >Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/register/" style="color: white;">Register</a>
                </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="/about/" style="color: white;">Nosotros<span class="sr-only">(current)</span></a>
                </li>
            
        </ul>
        </form>
        <form class="form-inline my-2 my-lg-0" action = "/peliculas/buscar" method = "GET">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search" name = 'search'>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white;">Buscar</button>
        </form>
    </div>

</nav>




{% block contenido %}
{% endblock %}
</body>


</html>