{% extends 'base.html' %}

{% block titulo %}
    Crear Series
{% endblock %}

{% block contenido %}

{% if form %}
    <h2>Aca va el contenido de crear series</h2>

    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Crear">
    </form>
{% elif new_product %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{new_serie.name}}</h5>
            <p class="card-text">{{new_serie.description}}</p>
            <p class="card-text">{{new_serie.seasons}}</p>
            <p class="card-text">{{new_serie.genre}}</p>
            <p class="card-text">{{new_serie.director}}</p>
            <p class="card-text">{{new_serie.cast}}</p>
        </div>
    </div>

{% endif %}

{% endblock %}