{% extends 'base.html' %}

{% block titulo %}
    Crear Peliculas
{% endblock %}

{% block contenido %}

{% if form %}
    <h2>Aca va el contenido de crear peliculas</h2>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Crear">
    </form>
{% elif new_product %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{new_movie.name}}</h5>
            <p class="card-text">{{new_movie.description}}</p>
            <p class="card-text">{{new_movie.length}}</p>
            <p class="card-text">{{new_movie.genre}}</p>
            <p class="card-text">{{new_movie.director}}</p>
            <p class="card-text">{{new_movie.cast}}</p>
        </div>
    </div>

{% endif %}


{% endblock %}