{% extends 'base.html' %}

{% block titulo %}
    Series
{% endblock %}

{% block contenido %}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
  

    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.description}}</p>
            <p class="card-text">{{object.genre}}</p>
            <p class="card-text">{{object.seasons}}</p>
            <p class="card-text">{{object.director}}</p>
            <p class="card-text">{{object.cast}}</p>
    
        </div>
    </div>


</div>

{% endblock %}