{% extends 'base.html' %}

{% block titulo %}
    Games
{% endblock %}

{% block contenido %}
<h2>Aca va el contenido de games</h2>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for game in games %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{game.name}}</h5>
            <p class="card-text">{{game.genre}}</p>           
        <a href="/peliculas/detail/detalle_game/{{game.id}}/" class="btn btn-primary">Ver mas</a>        
        </div>
    </div>

    {% endfor %}
</div>
<br>
{% if request.user.is_authenticated and request.user.is_superuser %}
<a href="/peliculas/create-game" type="button" class="btn btn-dark"> Agregar Juego </a> 
{% endif %}
{% endblock %}