{% extends 'base.html' %}

{% block titulo %}
    Peliculas
{% endblock %}

{% block contenido %}
<h2>Aca va el contenido de peliculas</h2>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for pelicula in peliculas %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{pelicula.name}}</h5>
            <p class="card-text">{{pelicula.genre}}</p>
        <a href="/peliculas/detalle_pelicula/{{pelicula.id}}/" class="btn btn-primary">Ver mas</a>       
        </div>
    </div>

    {% endfor %}
</div>
<br>
<a href="/peliculas/create-movie" type="button" class="btn btn-dark"> Agregar Pelicula </a> 

{% endblock %}